// paleta de colores
$primary: rgb(39, 37, 37);
$secondary: rgba(121, 117, 117, 0.5);
$javascript: rgb(246, 246, 51);
$html: rgb(236, 44, 44);
$css: rgb(49, 93, 205);
$adl: rgb(114, 158, 46);
$vue: rgb(103, 199, 112);
$bootstrap: rgb(86, 61, 124);
$white: rgb(255, 255, 255);

// tipografias
$poppins-font: 'Poppins', sans-serif;
$roboto-font: "Roboto", sans-serif;
$lato-font: "Lato", sans-serif;

// peso fuentes
$font-thin: 300;
$font-medium: 500;
$font-bold: 700;

// transformación fuentes
$font-upper: uppercase;

// tamaño fuentes
$fs1: 32px;
$fs2: 28px;
$fs3: 24px;
$fs4: 20px;
$fs5: 18px;
$fs6: 16px;

// espaciado
$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 25px;
$sp5: 30px;





